<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="scheduleAdd">
                        <input id="baseId" name="baseId" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-danger">*</span>bean名称：</label>
                            <div class="col-sm-8">
                                <input id="beanName" name="beanName" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-danger">*</span>方法名称：</label>
                            <div class="col-sm-8">
                                <input id="methodName" name="methodName" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">参数：</label>
                            <div class="col-sm-8">
                                <input id="params" name="params" class="form-control"
                                       type="text" placeholder="'params':'ywshow','beanName':'asdfa'">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="text-danger">*</span>cron表达式：</label>
                            <div class="col-sm-8">
                                <input id="cronExpression" name="cronExpression" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="remark" name="remark" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/schedule/add.js"/>
</body>

</html>
