<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">关于传达科技微信第三方入驻平台</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;简介</h3>
        <ul>
            <li>第三方用户快速入驻，减少运维人员资料收集与维护工作压力</li>
        </ul>
        <a class="btn btn-success btn-block" target="_blank" th:href="${wechatAuthUrl}">绑定微信公众号</a>
    </div>
</div>
</body>
</html>